<ion-view class="myCSS">
  <ion-content class="padding">
    <hr/>
    <div class="other-pages other-pages-title">Book App for you</div>
    <div class="other-pages other-pages-subtitle">A subtitle here</div>
    <hr/>
    <div class="other-pages other-pages-author">XXX</div>
    <div class="other-pages other-pages-author">YYY</div>
    <div class="other-pages other-pages-author">ZZZ</div>
    <hr/>
    <div id="title-page" style="text-align: center;"><img src="img/Gyroscope.png" alt="cover image"
        style="width: 600px; height: 322px;" /></div>
    <br />
    <div class="other-pages other-pages-centered">
      Copyright &copy; 2016 XXX, YYY, and ZZZ. 
      <br/>
      <br/>
      ISBN: your-isbn-here-if-any
    </div>
  </ion-content>
</ion-view>
