<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{currentPage.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="true" overflow-scroll="true">
   <iframe data-tap-disabled="true" [src]=url></iframe>
</ion-content>
